.about { background-color: #1b1b1b; padding: 40px; color: #e0e0e0; }

/* .content { max-width: 800px; margin: 0 auto; } */
.heading { font-size: 32px; margin-bottom: 40px; color: #379a61; }
.text { font-size: 18px; line-height: 1.6; margin: 0; }