.projects { background-color: #121212; padding: 40px; color: #cfcfcf; }

/* .container { max-width: 1000px; margin: 0 auto; } */
.heading { font-size: 32px; margin-bottom: 20px; color: #379a61; }
.grid { display: flex; flex-wrap: wrap; }
.card { background-color: #1b1b1b; padding: 20px; border-radius: 12px; display: flex; flex-direction: column; justify-content: space-between; transition: all 0.3s ease; width: calc(100% / 3 - 16px); margin-right: 16px; margin-top: 20px; }
.card:hover { transform: translateY(-10px); background-color: #222; }
.title { font-size: 20px; color: #cfcfcf; margin-bottom: 10px; }
.description { font-size: 15px; color: #cfcfcf; margin-bottom: 15px; }
.tech { display: flex; flex-wrap: wrap; gap: 8px; margin-bottom: 15px; }
.tech span { background-color: #379a6115; color: #379a61; padding: 4px 8px; border-radius: 6px; font-size: 14px; }
.links a { color: #379a61; display: inline-flex; align-items: center; gap: 6px; margin-right: 1.5rem; font-size: 16px; text-decoration: none; font-weight: 500; }
.links a:hover { color: #379a6195; }