.about { background-color: #121212; padding: 40px; color: #e0e0e0; }
/* .content { max-width: 800px; margin: 0 auto; } */
.heading { font-size: 32px; margin-bottom: 20px; color: #00bfff; }
.text { font-size: 18px; line-height: 1.6; }