.contact { background-color: #1b1b1b; padding: 40px; color: #cfcfcf; min-height: 100vh; }
.heading { font-size: 32px; margin-bottom: 20px; color: #379a61; }
/* .details { margin-bottom: 40px; } */
.details p { font-size: 16px; color: #cfcfcf; margin-bottom: 20px; }
.socials{position: relative;display: flex;flex-wrap: wrap;}
.mandatory { color: #f54141; }


.card { color: #cfcfcf; background-color: #121212; border-radius: 12px; flex-direction: column; align-items: center; padding: 20px; transition: all .3s ease; display: flex; width: 100%; min-height: 150px; justify-content: center; text-align: center; margin-top: 20px;width: 100%;max-width: 250px; margin-right: 1rem; }
.icon { color: #379a61; font-size: 40px; width: 40px; height: 40px; line-height: 1; margin-bottom: 16px;}
.card:hover { transform: translateY(-10px); background-color: #379a6115;color: #379a61; }
.socials > div:nth-child(2) .card:first-child { margin-right: 10rem;}